%h1 Bienvenido a Biblio
%p
  Estimado
  %strong= @author.name
  se ha generado un pedido
%p
  libro
  %strong= @book.title

%p
  Total
  %strong= @order.total

%p
  Cantidad
  %strong= @order.quality
